/**{
	border: 1px solid #333;
	border-radius: 5px;
}
*/
.flexbox{
	display: flex;
}

.flex_column{
	flex-direction:column;
}

.flex_column > *{
	
}

.container{
	width: 890px !important;
}

#map{
	background-color: #CCC;
}

article > *{
	height: 400px;
}

aside > * {
	margin-bottom: 20px;
	display: table;
}

/*aside div div{
	float: left;
	margin-right: 10px
}*/

article div div{
	width: 180px;
	height: 150px;
	display: block;
	margin: auto;
}

article img{
	width: 180px;
	height: 150px;
	object-fit: cover;
}

aside img{
	width:100px;
	height: 100px;
	object-fit: cover;
	float: left;
	margin-right: 10px;
}

select{
	border-color: #9b9b9b;
}

footer li {
	margin: auto 0px;
}