/**{
	border: 1px solid #333;
	border-radius: 5px;
}*/

.flexbox{
	display: flex;
}

.flex_column{
	flex-direction:column;
}

.flex_column > *{

}

.container{
	width: 890px !important;
}

#map{
	background-color: #CCC;
}

article > *{
	height: 400px;
}

aside > * {
	margin-bottom: 20px;
	display: table;
}

/*aside div div{
	float: left;
	margin-right: 10px
}*/

article div div{
	width: 180px;
	height: 150px;
	display: block;
	margin: auto;
}

article img{
	width: 180px;
	height: 150px;
	object-fit: cover;
}

aside img{
	width:100px;
	height: 100px;
	object-fit: cover;
	float: left;
	margin-right: 10px;
}

select{
	border-color: #9b9b9b;
}

footer li {
	margin: auto 0px;
}

label.custom-select {
    position: relative;
    display: inline-block;
}

    .custom-select select {
        display: inline-block;
        border: 1px solid #bbb;
        border-radius: 0px;
        padding: 4px 3px 3px 5px;
        margin: 0;
        font-weight: 400;
        height: 27px;
        font-size: 0.8em;
        outline:none; /* remove focus ring from Webkit */
        line-height: 1.2;
        background: #fff;
        
        -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
    }

    /* for Webkit's CSS-only solution */
    @media screen and (-webkit-min-device-pixel-ratio:0) { 
        .custom-select select {
            padding-right:30px;    
        }
    }
    
    /* Select arrow styling */
    .custom-select:after {
        content: "▾";
        text-align: center;
        width:27px;
        height: 27px;
        line-height: 27px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: #9e0039;
        -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
        color: white;
        
        pointer-events:none;
    }
    
    .no-pointer-events .custom-select:after {
        content: none;
    }